@import '~bootstrap/scss/bootstrap';
.container {
  align: center;
}

.box {
  border: 1px solid;
  box-sizing: border-box;
  font-size: 60px;
  height: 100px;
  margin: 1px;
  padding: 5px 10px 20px 30px;
  width: 100px;
}
